In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)

# Importing Data

In [2]:
data=pd.read_csv(r"F:\data\PythonProject\Python Project - Bank Lending\XYZCorp_LendingData.txt",\
                 index_col=0, delimiter="\t", low_memory=False)
data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,n,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,NaN,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-2016,67.79,Feb-2016,Jan-2016,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [7]:
data.shape

(855969, 72)

In [8]:
data1=pd.DataFrame.copy(data)

In [9]:
data1.info

<bound method DataFrame.info of           member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
id
1077501     1296599     5000.0       5000.0           4975.0   36 months
1077430     1314167     2500.0       2500.0           2500.0   60 months
1077175     1313524     2400.0       2400.0           2400.0   36 months
1076863     1277178    10000.0      10000.0          10000.0   36 months
1075358     1311748     3000.0       3000.0           3000.0   60 months
...             ...        ...          ...              ...         ...
36371250   39102635    10000.0      10000.0          10000.0   36 months
36441262   39152692    24000.0      24000.0          24000.0   36 months
36271333   38982739    13000.0      13000.0          13000.0   60 months
36490806   39222577    12000.0      12000.0          12000.0   60 months
36271262   38982659    20000.0      20000.0          20000.0   36 months

          int_rate  installment grade sub_grade  \
id
1077501      10.65       162.87     B        B2
1077430      15.27        59.83     C        C4
1077175      15.96        84.33     C        C5
1076863      13.49       339.31     C        C1
1075358      12.69        67.79     B        B5
...            ...          ...   ...       ...
36371250     11.99       332.10     B        B5
36441262     11.99       797.03     B        B5
36271333     15.99       316.07     D        D2
36490806     19.99       317.86     E        E3
36271262     11.99       664.20     B        B5

                                emp_title emp_length home_ownership  \
id
1077501                               NaN  10+ years           RENT
1077430                             Ryder   < 1 year           RENT
1077175                               NaN  10+ years           RENT
1076863               AIR RESOURCES BOARD  10+ years           RENT
1075358          University Medical Group     1 year           RENT
...                                   ...        ...            ...
36371250                 Office Assistant    8 years           RENT
36441262          Director of Maintenance  10+ years       MORTGAGE
36271333         Radiologist Technologist    5 years           RENT
36490806                          Painter     1 year           RENT
36271262  Manager Hotel Operations Oasis   10+ years           RENT

          annual_inc verification_status   issue_d pymnt_plan  \
id
1077501      24000.0            Verified  Dec-2011          n
1077430      30000.0     Source Verified  Dec-2011          n
1077175      12252.0        Not Verified  Dec-2011          n
1076863      49200.0     Source Verified  Dec-2011          n
1075358      80000.0     Source Verified  Dec-2011          n
...              ...                 ...       ...        ...
36371250     31000.0            Verified  Jan-2015          n
36441262     79000.0            Verified  Jan-2015          n
36271333     35000.0            Verified  Jan-2015          n
36490806     64400.0     Source Verified  Jan-2015          n
36271262    100000.0            Verified  Jan-2015          n

                                                       desc  \
id
1077501     Borrower added on 12/22/11 > I need to upgra...
1077430     Borrower added on 12/22/11 > I plan to use t...
1077175                                                 NaN
1076863     Borrower added on 12/21/11 > to pay for prop...
1075358     Borrower added on 12/21/11 > I plan on combi...
...                                                     ...
36371250                                                NaN
36441262                                                NaN
36271333                                                NaN
36490806                                                NaN
36271262                                                NaN

                     purpose                    title zip_code addr_state  \
id
1077501          credit_card                 Computer    860xx         AZ
1077430                  car                     bike    309xx         GA
1077175       small_business     real estate business    606xx         IL
1076863                other                 personel    917xx         CA
1075358                other                 Personal    972xx         OR
...                      ...                      ...      ...        ...
36371250  debt_consolidation       Debt consolidation    905xx         CA
36441262    home_improvement         Home improvement    072xx         NJ
36271333  debt_consolidation       Debt consolidation    378xx         TN
36490806  debt_consolidation       Debt consolidation    010xx         MA
36271262         credit_card  Credit card refinancing    331xx         FL

            dti  delinq_2yrs earliest_cr_line  inq_last_6mths  \
id
1077501   27.65          0.0         Jan-1985             1.0
1077430    1.00          0.0         Apr-1999             5.0
1077175    8.72          0.0         Nov-2001             2.0
1076863   20.00          0.0         Feb-1996             1.0
1075358   17.94          0.0         Jan-1996             0.0
...         ...          ...              ...             ...
36371250  28.69          0.0         Sep-2004             0.0
36441262   3.90          0.0         Mar-1974             1.0
36271333  30.90          0.0         Sep-2003             0.0
36490806  27.19          1.0         Oct-2003             2.0
36271262  10.83          0.0         Dec-2001             1.0

          mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  \
id
1077501                      NaN                     NaN       3.0      0.0
1077430                      NaN                     NaN       3.0      0.0
1077175                      NaN                     NaN       2.0      0.0
1076863                     35.0                     NaN      10.0      0.0
1075358                     38.0                     NaN      15.0      0.0
...                          ...                     ...       ...      ...
36371250                     NaN                    77.0       9.0      1.0
36441262                    26.0                     NaN       5.0      0.0
36271333                     NaN                    84.0       9.0      1.0
36490806                    22.0                     NaN      17.0      0.0
36271262                     NaN                   110.0       8.0      1.0

          revol_bal  revol_util  total_acc initial_list_status  out_prncp  \
id
1077501     13648.0        83.7        9.0                   f       0.00
1077430      1687.0         9.4        4.0                   f       0.00
1077175      2956.0        98.5       10.0                   f       0.00
1076863      5598.0        21.0       37.0                   f       0.00
1075358     27783.0        53.9       38.0                   f     766.90
...             ...         ...        ...                 ...        ...
36371250    14037.0        82.1       15.0                   f    7055.47
36441262     8621.0        84.5       23.0                   f   16933.26
36271333    11031.0        61.3       22.0                   w   11155.50
36490806     8254.0        30.6       20.0                   w   10447.31
36271262    33266.0        79.8       10.0                   f   14110.94

          out_prncp_inv   total_pymnt  total_pymnt_inv  total_rec_prncp  \
id
1077501            0.00   5861.071414          5831.78          5000.00
1077430            0.00   1008.710000          1008.71           456.46
1077175            0.00   3003.653644          3003.65          2400.00
1076863            0.00  12226.302212         12226.30         10000.00
1075358          766.90   3242.170000          3242.17          2233.10
...                 ...           ...              ...              ...
36371250        7055.47   3971.880000          3971.88          2944.53
36441262       16933.26   9532.390000          9532.39          7066.74
36271333       11155.50   3769.740000          3769.74          1844.50
36490806       10447.31   3787.670000          3787.67          1552.69
36271262       14110.94   7943.760000          7943.76          5889.06

          total_rec_int  total_rec_late_fee  recoveries  \
id
1077501          861.07                0.00        0.00
1077430          435.17                0.00      117.08
1077175          603.65                0.00        0.00
1076863         2209.33               16.97        0.00
1075358         1009.07                0.00        0.00
...                 ...                 ...         ...
36371250        1027.35                0.00        0.00
36441262        2465.65                0.00        0.00
36271333        1925.24                0.00        0.00
36490806        2234.98                0.00        0.00
36271262        2054.70                0.00        0.00

          collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
id
1077501                      0.00     Jan-2015           171.62          NaN
1077430                      1.11     Apr-2013           119.66          NaN
1077175                      0.00     Jun-2014           649.91          NaN
1076863                      0.00     Jan-2015           357.48          NaN
1075358                      0.00     Jan-2016            67.79     Feb-2016
...                           ...          ...              ...          ...
36371250                     0.00     Jan-2016           332.10     Feb-2016
36441262                     0.00     Jan-2016           797.03     Feb-2016
36271333                     0.00     Jan-2016           316.07     Feb-2016
36490806                     0.00     Jan-2016           317.86     Feb-2016
36271262                     0.00     Jan-2016           664.20     Feb-2016

         last_credit_pull_d  collections_12_mths_ex_med  \
id
1077501            Jan-2016                         0.0
1077430            Sep-2013                         0.0
1077175            Jan-2016                         0.0
1076863            Jan-2015                         0.0
1075358            Jan-2016                         0.0
...                     ...                         ...
36371250           Jan-2016                         0.0
36441262           Jan-2016                         0.0
36271333           Jan-2016                         0.0
36490806           Jan-2016                         1.0
36271262           Jan-2016                         0.0

          mths_since_last_major_derog  policy_code application_type  \
id
1077501                           NaN          1.0       INDIVIDUAL
1077430                           NaN          1.0       INDIVIDUAL
1077175                           NaN          1.0       INDIVIDUAL
1076863                           NaN          1.0       INDIVIDUAL
1075358                           NaN          1.0       INDIVIDUAL
...                               ...          ...              ...
36371250                          NaN          1.0       INDIVIDUAL
36441262                         29.0          1.0       INDIVIDUAL
36271333                          NaN          1.0       INDIVIDUAL
36490806                         22.0          1.0       INDIVIDUAL
36271262                          NaN          1.0       INDIVIDUAL

          annual_inc_joint  dti_joint verification_status_joint  \
id
1077501                NaN        NaN                       NaN
1077430                NaN        NaN                       NaN
1077175                NaN        NaN                       NaN
1076863                NaN        NaN                       NaN
1075358                NaN        NaN                       NaN
...                    ...        ...                       ...
36371250               NaN        NaN                       NaN
36441262               NaN        NaN                       NaN
36271333               NaN        NaN                       NaN
36490806               NaN        NaN                       NaN
36271262               NaN        NaN                       NaN

          acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  \
id
1077501              0.0           NaN          NaN          NaN         NaN
1077430              0.0           NaN          NaN          NaN         NaN
1077175              0.0           NaN          NaN          NaN         NaN
1076863              0.0           NaN          NaN          NaN         NaN
1075358              0.0           NaN          NaN          NaN         NaN
...                  ...           ...          ...          ...         ...
36371250             0.0           0.0      25274.0          NaN         NaN
36441262             0.0           0.0     140285.0          NaN         NaN
36271333             0.0           0.0      34178.0          NaN         NaN
36490806             0.0           0.0      58418.0          NaN         NaN
36271262             0.0           0.0      33307.0          NaN         NaN

          open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
id
1077501           NaN          NaN                 NaN           NaN      NaN
1077430           NaN          NaN                 NaN           NaN      NaN
1077175           NaN          NaN                 NaN           NaN      NaN
1076863           NaN          NaN                 NaN           NaN      NaN
1075358           NaN          NaN                 NaN           NaN      NaN
...               ...          ...                 ...           ...      ...
36371250          NaN          NaN                 NaN           NaN      NaN
36441262          NaN          NaN                 NaN           NaN      NaN
36271333          NaN          NaN                 NaN           NaN      NaN
36490806          NaN          NaN                 NaN           NaN      NaN
36271262          NaN          NaN                 NaN           NaN      NaN

          open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  \
id
1077501           NaN          NaN         NaN       NaN               NaN
1077430           NaN          NaN         NaN       NaN               NaN
1077175           NaN          NaN         NaN       NaN               NaN
1076863           NaN          NaN         NaN       NaN               NaN
1075358           NaN          NaN         NaN       NaN               NaN
...               ...          ...         ...       ...               ...
36371250          NaN          NaN         NaN       NaN           17100.0
36441262          NaN          NaN         NaN       NaN           10200.0
36271333          NaN          NaN         NaN       NaN           18000.0
36490806          NaN          NaN         NaN       NaN           27000.0
36271262          NaN          NaN         NaN       NaN           41700.0

          inq_fi  total_cu_tl  inq_last_12m  default_ind
id
1077501      NaN          NaN           NaN            0
1077430      NaN          NaN           NaN            1
1077175      NaN          NaN           NaN            0
1076863      NaN          NaN           NaN            0
1075358      NaN          NaN           NaN            0
...          ...          ...           ...          ...
36371250     NaN          NaN           NaN            0
36441262     NaN          NaN           NaN            0
36271333     NaN          NaN           NaN            0
36490806     NaN          NaN           NaN            0
36271262     NaN          NaN           NaN            0

[855969 rows x 72 columns]>

In [78]:
data.describe(include ='all')

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,purpose,dti,earliest_cr_line,open_acc,pub_rec,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,total_rev_hi_lim,default_ind
count,855969.000000,855969.000000,855969.000000,855969,855969.000000,855969.000000,855969,855969,855969,855969,8.559690e+05,855969,855969,855969,855969.000000,855969,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969.00000,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969.000000,855969,855969.000000,8.559690e+05,855969.000000
unique,NaN,NaN,NaN,2,NaN,NaN,7,35,11,6,NaN,3,103,14,NaN,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN
top,NaN,NaN,NaN,36 months,NaN,NaN,B,B3,10+ years,MORTGAGE,NaN,Source Verified,2015-10-01 00:00:00,debt_consolidation,NaN,Aug-2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,null,NaN,NaN,NaN
freq,NaN,NaN,NaN,600221,NaN,NaN,247998,54958,325151,429106,NaN,318178,48212,505392,NaN,6433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,855527,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,14745.571335,14732.378305,14700.061226,NaN,13.192320,436.238072,NaN,NaN,NaN,NaN,7.507119e+04,NaN,NaN,NaN,18.122165,NaN,11.542447,0.194537,25.269269,8284.830230,8281.449347,7653.296336,7622.22052,5850.841088,1755.046221,0.319530,47.089499,55.464832,0.009416,NaN,0.004944,3.216357e+04,0.054286
std,8425.340005,8419.471653,8425.805478,NaN,4.368365,243.726876,NaN,NaN,NaN,NaN,6.426447e+04,NaN,NaN,NaN,17.423629,NaN,5.308094,0.581585,11.818841,8461.946669,8458.496422,7909.383591,7885.15640,6676.410888,2081.692980,3.609399,413.136043,2672.255683,0.446267,NaN,0.077333,3.618695e+04,0.226581
min,500.000000,500.000000,0.000000,NaN,5.320000,15.690000,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000
25%,8000.000000,8000.000000,8000.000000,NaN,9.990000,260.550000,NaN,NaN,NaN,NaN,4.500000e+04,NaN,NaN,NaN,11.880000,NaN,8.000000,0.000000,17.000000,0.000000,0.000000,1969.690000,1960.12000,1239.950000,451.270000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,1.475000e+04,0.000000
50%,13000.000000,13000.000000,13000.000000,NaN,12.990000,382.550000,NaN,NaN,NaN,NaN,6.500000e+04,NaN,NaN,NaN,17.610000,NaN,11.000000,0.000000,24.000000,6290.250000,6287.650000,4976.160000,4948.25000,3286.890000,1076.910000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,2.585000e+04,0.000000
75%,20000.000000,20000.000000,20000.000000,NaN,15.990000,571.560000,NaN,NaN,NaN,NaN,9.000000e+04,NaN,NaN,NaN,23.900000,NaN,14.000000,0.000000,32.000000,13528.800000,13522.510000,10744.803649,10697.33000,8000.000000,2233.980000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,3.800000e+04,0.000000
max,35000.000000,35000.000000,35000.000000,NaN,28.990000,1445.460000,NaN,NaN,NaN,NaN,9.500000e+06,NaN,NaN,NaN,9999.000000,NaN,90.000000,86.000000,169.000000,49372.860000,49372.860000,57777.579870,57777.58000,35000.030000,24205.620000,358.680000,33520.270000,410000.000000,43.860000,NaN,14.000000,9.999999e+06,1.000000

In [10]:
for value in ['verification_status_joint']:
    data[value].fillna(data[value].fillna('null'),inplace=True)
pd.set_option('display.max_rows',None)
data.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49443
emp_length                      43061
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734157
purpose                             0
title                              33
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                        446
total_acc                           0
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint               855527
dti_joint                      855529
verification_status_joint           0
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
dtype: int64

In [19]:
for value in ['annual_inc_joint','dti_joint']:
    data[value].fillna(data[value].fillna(0),inplace=True)
    pd.set_option('display.max_rows',None)
data.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       49443
emp_length                      43061
home_ownership                      0
annual_inc                          0
verification_status                 0
issue_d                             0
pymnt_plan                          0
desc                           734157
purpose                             0
title                              33
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         0
earliest_cr_line                    0
inq_last_6mths                      0
mths_since_last_delinq         439812
mths_since_last_record         724785
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                        446
total_acc                           0
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_d                     8862
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 50
collections_12_mths_ex_med         56
mths_since_last_major_derog    642830
policy_code                         0
application_type                    0
annual_inc_joint                    0
dti_joint                           0
verification_status_joint           0
acc_now_delinq                      0
tot_coll_amt                    67313
tot_cur_bal                     67313
open_acc_6m                    842681
open_il_6m                     842681
open_il_12m                    842681
open_il_24m                    842681
mths_since_rcnt_il             843035
total_bal_il                   842681
il_util                        844360
open_rv_12m                    842681
open_rv_24m                    842681
max_bal_bc                     842681
all_util                       842681
total_rev_hi_lim                67313
inq_fi                         842681
total_cu_tl                    842681
inq_last_12m                   842681
default_ind                         0
dtype: int64

In [20]:
for col in data.columns: 
    if sum(data[col].isnull())/float(len(data.index)) >=0.5: del data[col]

In [21]:
data.shape

(855969, 54)

In [22]:
data.isnull().sum()

member_id                          0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
installment                        0
grade                              0
sub_grade                          0
emp_title                      49443
emp_length                     43061
home_ownership                     0
annual_inc                         0
verification_status                0
issue_d                            0
pymnt_plan                         0
purpose                            0
title                             33
zip_code                           0
addr_state                         0
dti                                0
delinq_2yrs                        0
earliest_cr_line                   0
inq_last_6mths                     0
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                       446
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                    8862
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                50
collections_12_mths_ex_med        56
policy_code                        0
application_type                   0
annual_inc_joint                   0
dti_joint                          0
verification_status_joint          0
acc_now_delinq                     0
tot_coll_amt                   67313
tot_cur_bal                    67313
total_rev_hi_lim               67313
default_ind                        0
dtype: int64

In [23]:
data.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'default_ind'],
      dtype='object')

In [24]:
data=data.drop(['addr_state',
                   'delinq_2yrs',
                  'collection_recovery_fee',
                  'collections_12_mths_ex_med',
                  'last_pymnt_d',
                  'inq_last_6mths',
                  'emp_title',
                  'initial_list_status',
                  'last_pymnt_amnt', 
                  'next_pymnt_d', 
                  'last_credit_pull_d',
                  'member_id', 
                  'tot_coll_amt', 
                  'tot_cur_bal',
                  'policy_code',
                  'pymnt_plan',
                  'revol_bal',
                  'revol_util',
                  'title',
                 'application_type',
                  'zip_code'],axis=1)

In [25]:
data.shape

(855969, 33)

In [26]:
data.isnull().sum()

loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_length                   43061
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
purpose                          0
dti                              0
earliest_cr_line                 0
open_acc                         0
pub_rec                          0
total_acc                        0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
annual_inc_joint                 0
dti_joint                        0
verification_status_joint        0
acc_now_delinq                   0
total_rev_hi_lim             67313
default_ind                      0
dtype: int64

In [27]:
for x in data.columns[:]:
        if data[x].dtype=='object':
            data[x].fillna(data[x].mode()[0],inplace=True)
        elif data[x].dtype=='int64' or data[x].dtype=='float64':
            data[x].fillna(data[x].mean(),inplace=True)

In [29]:
data.isnull().sum()

loan_amnt                    0
funded_amnt                  0
funded_amnt_inv              0
term                         0
int_rate                     0
installment                  0
grade                        0
sub_grade                    0
emp_length                   0
home_ownership               0
annual_inc                   0
verification_status          0
issue_d                      0
purpose                      0
dti                          0
earliest_cr_line             0
open_acc                     0
pub_rec                      0
total_acc                    0
out_prncp                    0
out_prncp_inv                0
total_pymnt                  0
total_pymnt_inv              0
total_rec_prncp              0
total_rec_int                0
total_rec_late_fee           0
recoveries                   0
annual_inc_joint             0
dti_joint                    0
verification_status_joint    0
acc_now_delinq               0
total_rev_hi_lim             0
default_ind                  0
dtype: int64

In [30]:
data.dtypes

loan_amnt                    float64
funded_amnt                  float64
funded_amnt_inv              float64
term                          object
int_rate                     float64
installment                  float64
grade                         object
sub_grade                     object
emp_length                    object
home_ownership                object
annual_inc                   float64
verification_status           object
issue_d                       object
purpose                       object
dti                          float64
earliest_cr_line              object
open_acc                     float64
pub_rec                      float64
total_acc                    float64
out_prncp                    float64
out_prncp_inv                float64
total_pymnt                  float64
total_pymnt_inv              float64
total_rec_prncp              float64
total_rec_int                float64
total_rec_late_fee           float64
recoveries                   float64
annual_inc_joint             float64
dti_joint                    float64
verification_status_joint     object
acc_now_delinq               float64
total_rev_hi_lim             float64
default_ind                    int64
dtype: object

In [31]:
corr_data=data.corr(method="pearson")
print(corr_data)

                    loan_amnt  funded_amnt  funded_amnt_inv  int_rate  \
loan_amnt            1.000000     0.999265         0.997601  0.142966
funded_amnt          0.999265     1.000000         0.998485  0.143116
funded_amnt_inv      0.997601     0.998485         1.000000  0.143374
int_rate             0.142966     0.143116         0.143374  1.000000
installment          0.944870     0.945903         0.944149  0.130468
annual_inc           0.335209     0.335002         0.334356 -0.073825
dti                  0.020189     0.020583         0.021489  0.078454
open_acc             0.198926     0.199432         0.200055 -0.011091
pub_rec             -0.082199    -0.081858        -0.081008  0.052596
total_acc            0.222084     0.222039         0.222258 -0.039482
out_prncp            0.639784     0.641706         0.644011  0.033933
out_prncp_inv        0.639786     0.641709         0.644023  0.033790
total_pymnt          0.479612     0.478290         0.474600  0.173387
total_pymnt_inv      0.480328     0.479172         0.478589  0.174453
total_rec_prncp      0.395880     0.394669         0.391010  0.059298
total_rec_int        0.537586     0.536533         0.534517  0.446517
total_rec_late_fee   0.025966     0.025579         0.023091  0.050743
recoveries           0.075513     0.075076         0.073737  0.110848
annual_inc_joint     0.014765     0.014808         0.014826  0.008198
dti_joint            0.010362     0.010402         0.010425  0.011400
acc_now_delinq       0.003572     0.003675         0.003856  0.026476
total_rev_hi_lim     0.299986     0.300194         0.299884 -0.159695
default_ind         -0.004907    -0.005797        -0.008209  0.155037

                    installment  annual_inc       dti  open_acc   pub_rec  \
loan_amnt              0.944870    0.335209  0.020189  0.198926 -0.082199
funded_amnt            0.945903    0.335002  0.020583  0.199432 -0.081858
funded_amnt_inv        0.944149    0.334356  0.021489  0.200055 -0.081008
int_rate               0.130468   -0.073825  0.078454 -0.011091  0.052596
installment            1.000000    0.328578  0.013909  0.183817 -0.071114
annual_inc             0.328578    1.000000 -0.086821  0.139429 -0.008909
dti                    0.013909   -0.086821  1.000000  0.142068 -0.022717
open_acc               0.183817    0.139429  0.142068  1.000000 -0.026122
pub_rec               -0.071114   -0.008909 -0.022717 -0.026122  1.000000
total_acc              0.199872    0.188651  0.106266  0.694850  0.012300
out_prncp              0.539840    0.211549  0.058057  0.171050 -0.007978
out_prncp_inv          0.539835    0.211591  0.058021  0.171053 -0.007976
total_pymnt            0.520613    0.163226 -0.040537  0.043452 -0.087933
total_pymnt_inv        0.521332    0.163275 -0.039563  0.044552 -0.087299
total_rec_prncp        0.455444    0.152245 -0.050855  0.032115 -0.084596
total_rec_int          0.502038    0.130367  0.008750  0.061725 -0.059868
total_rec_late_fee     0.035728    0.009864 -0.006245 -0.009957 -0.011871
recoveries             0.076931    0.007613  0.001719  0.001957 -0.014602
annual_inc_joint       0.012537   -0.002492  0.073631 -0.000329  0.002833
dti_joint              0.008365   -0.006018  0.074261 -0.000657  0.002462
acc_now_delinq         0.006273    0.014877  0.003227  0.017774 -0.000293
total_rev_hi_lim       0.275535    0.262754  0.032157  0.314446 -0.099398
default_ind            0.004753   -0.037066  0.004429 -0.021698 -0.019607

                    total_acc  out_prncp  out_prncp_inv  total_pymnt  \
loan_amnt            0.222084   0.639784       0.639786     0.479612
funded_amnt          0.222039   0.641706       0.641709     0.478290
funded_amnt_inv      0.222258   0.644011       0.644023     0.474600
int_rate            -0.039482   0.033933       0.033790     0.173387
installment          0.199872   0.539840       0.539835     0.520613
annual_inc           0.188651   0.211549       0.211591     0.163226
dti                  0.106266   0.058057       0.058021    -0.040537
open_acc             0.694850   0.171050       0.171053     0.043452
pub_rec              0.012300  -0.007978      -0.007976    -0.087933
total_acc            1.000000   0.135755       0.135770     0.110169
out_prncp            0.135755   1.000000       0.999997    -0.289173
out_prncp_inv        0.135770   0.999997       1.000000    -0.289164
total_pymnt          0.110169  -0.289173      -0.289164     1.000000
total_pymnt_inv      0.110983  -0.286487      -0.286472     0.998121
total_rec_prncp      0.101289  -0.370627      -0.370620     0.970594
total_rec_int        0.091824   0.112191       0.112205     0.679127
total_rec_late_fee  -0.005655  -0.046704      -0.046707     0.054403
recoveries           0.009670  -0.111595      -0.111595     0.037201
annual_inc_joint     0.001877   0.029774       0.029746    -0.018086
dti_joint            0.000908   0.025714       0.025683    -0.018640
acc_now_delinq       0.026633   0.011834       0.011824    -0.008220
total_rev_hi_lim     0.245578   0.212409       0.212449     0.111364
default_ind         -0.021087  -0.225960      -0.225959    -0.039220

                    total_pymnt_inv  total_rec_prncp  total_rec_int  \
loan_amnt                  0.480328         0.395880       0.537586
funded_amnt                0.479172         0.394669       0.536533
funded_amnt_inv            0.478589         0.391010       0.534517
int_rate                   0.174453         0.059298       0.446517
installment                0.521332         0.455444       0.502038
annual_inc                 0.163275         0.152245       0.130367
dti                       -0.039563        -0.050855       0.008750
open_acc                   0.044552         0.032115       0.061725
pub_rec                   -0.087299        -0.084596      -0.059868
total_acc                  0.110983         0.101289       0.091824
out_prncp                 -0.286487        -0.370627       0.112191
out_prncp_inv             -0.286472        -0.370620       0.112205
total_pymnt                0.998121         0.970594       0.679127
total_pymnt_inv            1.000000         0.968608       0.678519
total_rec_prncp            0.968608         1.000000       0.488377
total_rec_int              0.678519         0.488377       1.000000
total_rec_late_fee         0.052077         0.033519       0.080459
recoveries                 0.036396        -0.039655       0.069917
annual_inc_joint          -0.018062        -0.016809      -0.014338
dti_joint                 -0.018615        -0.017309      -0.014827
acc_now_delinq            -0.008021        -0.010486       0.002220
total_rev_hi_lim           0.111658         0.110793       0.067830
default_ind               -0.040232        -0.090336       0.046050

                    total_rec_late_fee  recoveries  annual_inc_joint  \
loan_amnt                     0.025966    0.075513          0.014765
funded_amnt                   0.025579    0.075076          0.014808
funded_amnt_inv               0.023091    0.073737          0.014826
int_rate                      0.050743    0.110848          0.008198
installment                   0.035728    0.076931          0.012537
annual_inc                    0.009864    0.007613         -0.002492
dti                          -0.006245    0.001719          0.073631
open_acc                     -0.009957    0.001957         -0.000329
pub_rec                      -0.011871   -0.014602          0.002833
total_acc                    -0.005655    0.009670          0.001877
out_prncp                    -0.046704   -0.111595          0.029774
out_prncp_inv                -0.046707   -0.111595          0.029746
total_pymnt                   0.054403    0.037201         -0.018086
total_pymnt_inv               0.052077    0.036396         -0.018062
total_rec_prncp               0.033519   -0.039655         -0.016809
total_rec_int                 0.080459    0.069917         -0.014338
total_rec_late_fee            1.000000    0.085700         -0.001710
recoveries                    0.085700    1.000000         -0.002366
annual_inc_joint             -0.001710   -0.002366          1.000000
dti_joint                    -0.001737   -0.002405          0.810169
acc_now_delinq                0.002229    0.000883         -0.000911
total_rev_hi_lim             -0.004708   -0.000151         -0.002667
default_ind                   0.140760    0.475738         -0.004973

                    dti_joint  acc_now_delinq  total_rev_hi_lim  default_ind
loan_amnt            0.010362        0.003572          0.299986    -0.004907
funded_amnt          0.010402        0.003675          0.300194    -0.005797
funded_amnt_inv      0.010425        0.003856          0.299884    -0.008209
int_rate             0.011400        0.026476         -0.159695     0.155037
installment          0.008365        0.006273          0.275535     0.004753
annual_inc          -0.006018        0.014877          0.262754    -0.037066
dti                  0.074261        0.003227          0.032157     0.004429
open_acc            -0.000657        0.017774          0.314446    -0.021698
pub_rec              0.002462       -0.000293         -0.099398    -0.019607
total_acc            0.000908        0.026633          0.245578    -0.021087
out_prncp            0.025714        0.011834          0.212409    -0.225960
out_prncp_inv        0.025683        0.011824          0.212449    -0.225959
total_pymnt         -0.018640       -0.008220          0.111364    -0.039220
total_pymnt_inv     -0.018615       -0.008021          0.111658    -0.040232
total_rec_prncp     -0.017309       -0.010486          0.110793    -0.090336
total_rec_int       -0.014827        0.002220          0.067830     0.046050
total_rec_late_fee  -0.001737        0.002229         -0.004708     0.140760
recoveries          -0.002405        0.000883         -0.000151     0.475738
annual_inc_joint     0.810169       -0.000911         -0.002667    -0.004973
dti_joint            1.000000       -0.000882         -0.003913    -0.005055
acc_now_delinq      -0.000882        1.000000          0.008253    -0.003116
total_rev_hi_lim    -0.003913        0.008253          1.000000    -0.029896
default_ind         -0.005055       -0.003116         -0.029896     1.000000

In [32]:
data.issue_d=pd.to_datetime(data.issue_d)
col_name='issue_d'
print(data[col_name].dtype)

datetime64[ns]

In [33]:
split_date="May-2015"
train=data.loc[data['issue_d']<=split_date]
train=train.drop(['issue_d'],axis=1)
train.shape

(598978, 32)

In [34]:
test=data.loc[data['issue_d']> split_date]
test=test.drop(['issue_d'],axis=1)
test.shape

(256991, 32)

In [35]:
colname=[]
for x in data.columns:
    if data[x].dtype=='object':
        colname.append(x)
colname

['term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'purpose',
 'earliest_cr_line',
 'verification_status_joint']

In [36]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
for x in colname:
    train[x]=le.fit_transform(train[x])

In [37]:
from  sklearn import preprocessing
le=preprocessing.LabelEncoder()
for x in colname:
        test[x]=le.fit_transform(test[x])

In [39]:
train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,total_rev_hi_lim,default_ind
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1077501,5000.0,5000.0,4975.0,0,10.65,162.87,1,6,1,5,24000.0,2,1,27.65,257,3.0,0.0,9.0,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.0,0.0,0,0.0,32163.574526,0
1077430,2500.0,2500.0,2500.0,1,15.27,59.83,2,13,10,5,30000.0,1,0,1.00,40,3.0,0.0,4.0,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,0.0,0.0,0,0.0,32163.574526,1
1077175,2400.0,2400.0,2400.0,0,15.96,84.33,2,14,1,5,12252.0,0,11,8.72,555,2.0,0.0,10.0,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.0,0.0,0,0.0,32163.574526,0
1076863,10000.0,10000.0,10000.0,0,13.49,339.31,2,10,1,5,49200.0,1,9,20.00,203,10.0,0.0,37.0,0.0,0.0,12226.302212,12226.30,10000.00,2209.33,16.97,0.00,0.0,0.0,0,0.0,32163.574526,0
1075358,3000.0,3000.0,3000.0,1,12.69,67.79,1,9,0,5,80000.0,1,9,17.94,268,15.0,0.0,38.0,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.0,0.0,0,0.0,32163.574526,0

In [40]:
test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,total_rev_hi_lim,default_ind
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
68587652,25000.0,25000.0,25000.0,0,5.32,752.87,0,0,0,1,150000.0,0,1,9.54,197,7.0,0.0,18.0,24357.97,24357.97,682.67,682.67,642.03,40.64,0.0,0.0,0.0,0.0,3,0.0,45500.0,0
66624733,18000.0,18000.0,18000.0,1,19.48,471.70,4,21,7,3,150000.0,0,2,9.39,374,18.0,1.0,27.0,17820.50,17820.50,286.64,286.64,179.50,107.14,0.0,0.0,0.0,0.0,3,0.0,34500.0,0
68446769,7000.0,7000.0,7000.0,0,7.49,217.72,0,3,1,1,59000.0,0,1,13.06,582,10.0,0.0,34.0,7000.00,7000.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,3,0.0,43200.0,0
68595206,20000.0,20000.0,20000.0,0,17.97,722.75,3,18,7,1,180000.0,0,2,25.10,29,13.0,0.0,30.0,20000.00,20000.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,3,0.0,64200.0,0
68587491,15000.0,15000.0,15000.0,0,6.99,463.09,0,2,2,1,93000.0,0,1,14.86,579,8.0,0.0,17.0,15000.00,15000.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,3,0.0,34500.0,0

In [42]:
X_train=train.values[:,:-1]
Y_train=train.values[:,-1]

In [43]:
print(Y_train)
X_test=test.values[:,:-1]
Y_test=test.values[:,-1]

print(Y_test)

[0. 1. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]

In [44]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
X=scaler.transform(X_train)
print(X_train)

[[ 5000.          5000.          4975.         ...     0.
      0.         32163.57452552]
 [ 2500.          2500.          2500.         ...     0.
      0.         32163.57452552]
 [ 2400.          2400.          2400.         ...     0.
      0.         32163.57452552]
 ...
 [13000.         13000.         13000.         ...     0.
      0.         18000.        ]
 [12000.         12000.         12000.         ...     0.
      0.         27000.        ]
 [20000.         20000.         20000.         ...     0.
      0.         41700.        ]]

In [45]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_test)
X=scaler.transform(X_test)
print(X_test)

[[2.5000e+04 2.5000e+04 2.5000e+04 ... 3.0000e+00 0.0000e+00 4.5500e+04]
 [1.8000e+04 1.8000e+04 1.8000e+04 ... 3.0000e+00 0.0000e+00 3.4500e+04]
 [7.0000e+03 7.0000e+03 7.0000e+03 ... 3.0000e+00 0.0000e+00 4.3200e+04]
 ...
 [2.5000e+04 2.5000e+04 2.5000e+04 ... 3.0000e+00 0.0000e+00 4.9600e+04]
 [2.5000e+04 2.5000e+04 2.5000e+04 ... 3.0000e+00 0.0000e+00 4.3800e+04]
 [2.4675e+04 2.4675e+04 2.4675e+04 ... 3.0000e+00 0.0000e+00 1.0300e+05]]

# Decision Tree Model

In [75]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy',max_leaf_nodes=15,max_depth=20,random_state=10,splitter="best")
model.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=20,
                       max_features=None, max_leaf_nodes=15,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=10, splitter='best')

In [76]:
Y_pred=model.predict(X_test)
print(Y_pred)

[0. 0. 0. ... 0. 0. 0.]

In [77]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cfm=confusion_matrix(Y_test,Y_pred)
print(cfm)
print(classification_report(Y_test,Y_pred))
acc=accuracy_score(Y_test,Y_pred)
print('Accuracy of the model:',acc)

[[256569    111]
 [    63    248]]
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00    256680
         1.0       0.69      0.80      0.74       311

    accuracy                           1.00    256991
   macro avg       0.85      0.90      0.87    256991
weighted avg       1.00      1.00      1.00    256991

Accuracy of the model: 0.9993229334879432

# cross validation

In [63]:
Y_pred=model.predict(X_test)
print(list(zip(Y_test,Y_pred)))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [64]:
Y_pred_prob=model.predict_proba(X_test)
print(Y_pred_prob)

[[0.99673949 0.00326051]
 [0.99673949 0.00326051]
 [0.99673949 0.00326051]
 ...
 [0.99673949 0.00326051]
 [0.99673949 0.00326051]
 [0.99673949 0.00326051]]

In [68]:
for a in np.arange(0.4,0.70,0.01):
    predict_mine = np.where(Y_pred_prob[:,1] > a, 1, 0)
    cfm=confusion_matrix(Y_test, predict_mine)
    total_err=cfm[0,1]+cfm[1,0]
    print("Errors at threshold ", a, ":",total_err, " , type 2 error :",
          cfm[1,0]," , type 1 error:", cfm[0,1])

Errors at threshold  0.4 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.41000000000000003 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.42000000000000004 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.43000000000000005 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.44000000000000006 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.45000000000000007 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.4600000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.4700000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.4800000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.4900000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5000000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5100000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5200000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5300000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5400000000000001 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5500000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5600000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5700000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5800000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.5900000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6000000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6100000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6200000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6300000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6400000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6500000000000002 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6600000000000003 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6700000000000003 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6800000000000003 : 174  , type 2 error : 63  , type 1 error: 111
Errors at threshold  0.6900000000000003 : 174  , type 2 error : 63  , type 1 error: 111

In [69]:
from sklearn import metrics

fpr, tpr, z = metrics.roc_curve(Y_test, Y_pred_prob[:,1])
auc = metrics.auc(fpr,tpr)
print(auc)

0.8969834823797519

In [ ]:
#predicting using the Bagging_Classifier
from sklearn.ensemble import RandomForestClassifier
 
model=RandomForestClassifier(100,random_state=10)
#fit the model on the data and predict the values
model=model.fit(X_train,Y_train)
 
Y_pred=model.predict(X_test)

In [71]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cfm=confusion_matrix(Y_test,Y_pred)
print(cfm)
print(classification_report(Y_test,Y_pred))
acc=accuracy_score(Y_test,Y_pred)
print('Accuracy of the model:',acc)

[[ 94566 162114]
 [     1    310]]
              precision    recall  f1-score   support

         0.0       1.00      0.37      0.54    256680
         1.0       0.00      1.00      0.00       311

    accuracy                           0.37    256991
   macro avg       0.50      0.68      0.27    256991
weighted avg       1.00      0.37      0.54    256991

Accuracy of the model: 0.3691802436661206