In [3]:
import pandas as pd
df1=pd.read_excel("F:\download\std1.xlsx",index_col=0,header=0)
df2=pd.read_excel("F:\download\std2.xlsx",index_col=0,header=0)
print(df1)
print(df2)

      Name Gender
Stdid
1        A      M
3        C      F
4        D      F
5        E      M
7        G      M
       Marks
Stdid
1         23
2         45
4         32
5         44
6         36

In [4]:
df3=pd.merge(df1,df2,on="Stdid")   # merging two dataframe
print(df3)

      Name Gender  Marks
Stdid
1        A      M     23
4        D      F     32
5        E      M     44

In [5]:
df3=pd.merge(df1,df2,on="Stdid",how="left")  # left join with two dataframe
print(df3)

      Name Gender  Marks
Stdid
1        A      M   23.0
3        C      F    NaN
4        D      F   32.0
5        E      M   44.0
7        G      M    NaN

In [6]:
df3=pd.merge(df1,df2,on="Stdid",how="right") # right join with two dataframe
print(df3)

      Name Gender  Marks
Stdid
1        A      M     23
4        D      F     32
5        E      M     44
2      NaN    NaN     45
6      NaN    NaN     36

In [9]:
df3=pd.merge(df1,df2,on="Stdid",how="outer" ,indicator=True)  # outr join with two dataframe
print(df3)

      Name Gender  Marks      _merge
Stdid
1        A      M   23.0        both
3        C      F    NaN   left_only
4        D      F   32.0        both
5        E      M   44.0        both
7        G      M    NaN   left_only
2      NaN    NaN   45.0  right_only
6      NaN    NaN   36.0  right_only

In [12]:
# to convert uppercase to lowercase  
df = df1.applymap(lambda s:s.lower() if type(s) == str else s)
df.head()

      Name Gender
Stdid
1        a      m
3        c      f
4        d      f
5        e      m
7        g      m